body {
  background-color: #2a2335;
}

.App {
  text-align: center;
}

@font-face {
  font-family: "SmashFont";
  src: url('Gotham Black Regular.woff') format('woff');
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes list-element {
  0%   {opacity: 0; visibility: hidden;}
  100% {opacity: 1; visibility: visible;}
}

.slide-fade {
  opacity: 0;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-name: list-element;
  animation-fill-mode: forwards;
}